## FT4232H EEPROM configuration (ftdi_eeprom)

###############################################################################
# Device information
###############################################################################

## Vendor ID. Will appear in udev as ATTRS{idVendor}.
## FT4232H factory default 0x0403.
vendor_id=0x0403

## Product ID. Will appear in udev as ATTRS{idProduct}.
## FT4232H factory default 0x6011.
product_id=0x6011

## Manufacturer. Will appear in udev as ATTRS{manufacturer}.
manufacturer=COTTI

## Short device description. Will appear in udev as ATTRS{interface}.
product=Cotti-probe

## Set a serial number for current device.
use_serial=false
serial="ABC123"

## EEPROM Type: 0x46 for 93xx46, 0x56 for 93xx56 and 0x66 for 93xx66.
## This does not affect discovery of the EEPROM, it is just informative.
eeprom_type=0x56

## Filename where the eeprom binary image will be stored
filename="eeprom.bin"

###############################################################################
# Hardware configuration
###############################################################################

## false -> Gets power from the USB connector.
## true  -> Gets power from an external source.
self_powered=false

## Maximum current that can be sourced from the USB connector.
## For external sources, set to "0".
## For self_powered, the current drawn from the USB bus is given by:
##   max_power * 2mA.
## Maximum allowed current is 500mA, i.e., max_power is in between [50;250].
max_power=250

## If the device supports remote wakeups, i.e., can be suspended into a
## low-power mode.
remote_wakeup=false

###############################################################################
# Channel and I/O configuration
###############################################################################

## I/O drive strength: "4MA" | "8MA" | "12MA" | "16MA"
group0_drive="4MA"

## Invert logic output of UART signals
invert_txd=false
invert_rxd=false
invert_rts=false
invert_cts=false
invert_dtr=false
invert_dsr=false
invert_dcd=false
invert_ri=false

## Sets mode for Multi-Protocol Synchronous Serial Engine (MPSSE) channels:
##   "UART" | "FIFO" | "OPTO" | "CPU" | "FT1284"
#cha_type=
#chb_type=

cha_vcp=
chb_vcp=
chc_vcp=
chd_vcp=
