BR2_arm=y
BR2_cortex_a8=y
BR2_TOOLCHAIN_EXTERNAL=y
BR2_TOOLCHAIN_EXTERNAL_BOOTLIN=y
BR2_TOOLCHAIN_EXTERNAL_BOOTLIN_ARMV7_EABIHF_MUSL_STABLE=y
BR2_GLOBAL_PATCH_DIR="$(BR2_EXTERNAL_COTTI_PATH)/board/cotti/cotti-board/patches/"
BR2_TARGET_GENERIC_HOSTNAME="cotti"
BR2_TARGET_GENERIC_ISSUE="Cotti's BBB with Buildroot!"
BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL_COTTI_PATH)/board/cotti/cotti-board/rootfs_overlay/"
BR2_ROOTFS_PRE_BUILD_SCRIPT="$(BR2_EXTERNAL_COTTI_PATH)/board/cotti/cotti-board/pre_build.sh"
BR2_ROOTFS_POST_BUILD_SCRIPT="$(BR2_EXTERNAL_COTTI_PATH)/board/cotti/cotti-board/post_build.sh"
BR2_ROOTFS_POST_IMAGE_SCRIPT="$(BR2_EXTERNAL_COTTI_PATH)/board/cotti/cotti-board/post_image.sh"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL_COTTI_PATH)/board/cotti/cotti-board/linux.config"
BR2_LINUX_KERNEL_NEEDS_HOST_OPENSSL=y
BR2_PACKAGE_BUSYBOX_CONFIG="$(BR2_EXTERNAL_COTTI_PATH)/board/cotti/cotti-board/busybox.config"
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_USE_CUSTOM_CONFIG=y
BR2_TARGET_UBOOT_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL_COTTI_PATH)/board/cotti/cotti-board/uboot.config"
# BR2_TARGET_UBOOT_FORMAT_BIN is not set
BR2_TARGET_UBOOT_FORMAT_IMG=y
BR2_TARGET_UBOOT_SPL=y
BR2_TARGET_UBOOT_SPL_NAME="MLO"
BR2_TARGET_UBOOT_CUSTOM_MAKEOPTS="EXT_DTB=$(BR2_EXTERNAL_COTTI_PATH)/board/cotti/cotti-board/dts/am335x-boneblack.dtb"
BR2_PACKAGE_HOST_DTC=y
BR2_PACKAGE_NINVADERS=y
