name: "Environmental variables"
on: push
env: 
    ENV_VARIABLE: "0"
jobs:
    job1:
        runs-on: ubuntu-latest
        steps:
            - run: |
                echo "Env variable value: $ENV_VARIABLE"
                ENV_VARIABLE="1"

    job2:
        runs-on: ubuntu-latest
        needs: [job1]
        steps:
            - run: |
                echo "Env variable value: $ENV_VARIABLE"
