name: Markdown Linter
on: push
jobs:
  markdown_linter:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout repo"
        uses: actions/checkout@v5
        
      - name: "Markdown linter"
        uses: DavidAnson/markdownlint-cli2-action@v20
        with:
          globs: '**/*.md'